.my-nav{
    height: 4rem;
    background-color: #db0000 !important;
}
.my-nav  img{
    display: flex;
    top: 0px !important;
   margin-left: 20px;
   margin-right: 100px;
}
.my-nav ul{
    display: flex;
    float: right;
}
.search-bt{
  margin-left: 270px  ;
 }
.head-item{
    font-size: 1rem !important;
    font-weight: bold !important;
    color: white !important;
}
